################################################################################
# Visual Studio & Project
################################################################################
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates

################################################################################
# IDA Pro Temporary Files
################################################################################
*.id0
*.id1
*.id2
*.idb
*.i64
*.nam
*.til
*.bak
*.log
